body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button.ui.red.basic.button {
  border-radius: 30px;
  padding: 5px 20px;
  max-height: 30px;
}

button.ui.basic.dark.button {
  background: #B00414 !important;
  border-radius: 50px;
  color: #FFF !important;
  padding: 5px 20px !important;
}

.greyHeader {
  background: #D9D8D6 !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.sub-section {
  color: #B00414 !important;
  font-size: 1.2em !important;
  font-weight: bold !important;
}

.ui.card {
  background: #F5F2ED !important;
  box-shadow: none !important;
}

.ui.image.smallicon {
   margin-left: 15px; 
}

.ui.text.menu {
  margin: 1rem 0 !important;
}

button.ui.red.basic.light.button {
  background: #FFF !important;
  box-shadow: none !important;
}

.label.light {
  color: #B00414 !important;
}

.field.dark {
  font-weight: bold;
}

.ui.card {
  margin-top: 5px !important;
}